body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: none;
    background-size: 300px;
    margin: 0px;
    background-attachment: fixed;
    color: black;
}

nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    right: auto;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    background-color: rgb(255, 160, 216);
}

#messages {
    width: 80%;
    list-style-type: none;
    margin-inline: auto;
    margin-top: 3em;
    margin-bottom: 60px;

    height: 100%;
    display: table;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(229, 229, 229);
    opacity: 0.8;
    span {
        display: block;
        padding: 5px;
        text-align: 0
    }
}

#send-message {
    height: 30px;
    background-color: rgb(255, 160, 216);
    border-radius: 5px;
    border: solid black 2px;
}
#send-message:active {
    box-shadow: 1px 1px 1px black;
    background-color: rgb(255, 117, 198);
}

#message-input {
    width: 65%;
    height: 30px;
    padding-left: 8px;


    border-radius: 5px;
    border: solid black 2px;
}

#nickname-input {
    width: 60%;
    height: 30px;
    padding-left: 8px;
    margin-left: 5px;

    border-radius: 5px;
    border: solid black 2px;
}

@media only screen and (max-width: 700px) {
    #nickname-label {
        display: none;
    }
}

#messages-box {
    width: 100%;
    max-width: 270px;
}

#bottom-bar {
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}